@charset "utf-8";

body{
  font-family:"맑은 고딕",arial,sans-serif;
  font-size:12px;
  color:#333;
}
a{color:#333;text-decoration:none;}
h2, p, .desc li{padding: 5px;}

main{margin:50px;}
.gallery{
  width: 1240px;
  margin: 0px auto;
  border: 3px solid #f00;
}
.gallery h2{
  text-align: center;
  line-height: 60px;
  font-size: 30px;
}
.g_navi{
  height: 50px;
  border-bottom: 1px solid #333;
}
.g_navi > ul{
  display: flex;
  justify-content: center;
  gap: 20px;
}
.g_navi > ul > li > a{
  font-size: 14px;
  background: #000;
  color: #fff;
  padding: 4px 14px 5px 14px;
  border-radius: 20px;
  line-height: 40px;
  text-transform: uppercase;
  line-height: 50px;
}
.act{background: #f58822 !important;}

/* 갤러리 이미지 서식 */
.g_list{
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}
.g_list > li{
  width: 25%; height: 200px;
  overflow: hidden;
  position: relative;
}
.g_list > li > a img{
  width: 100%;
  filter: brightness(1);
}
.g_list > li > a span{
  display: block;
  background: rgba(0,0,0,.7);
  line-height: 40px;
  color: #fff;
  position: absolute; bottom: -40px; left:0px;
  text-indent: 10px;
  width: 100%;
  /* transition: 0.3s; */
}

/* 모달 서식 */
.modal{
  width: 100%; height: 100%;
  background: rgba(0,0,0,.7);
  position: fixed; top:0px; left:0px;
}
.center{
  width: 600px;
  position: relative;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
}
.center img{
  width: 600px;
  display: block;
}
.fas{
  color: #fff;
  position: absolute;
  cursor: pointer;
}
.fa-times{
  bottom:-80px; left:50%;
  transform: translateX(-50%);
  font-size: 40px;
  width: 60px; height: 60px;
  border-radius: 50%;
  line-height: 58px;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
}
.fa-angle-left{
  left: -60px; top: 50%;
  font-size: 60px;
}
.fa-angle-right{
  right: -60px; top: 50%;
  font-size: 60px;
}
.modal h3{
  position: absolute; top:-60px; left:50%;
  transform: translateX(-50%);
  font-size: 20px;
  line-height: 60px;
  color: #fff;
}
.modal span{
  color: #fff;
  font-size: 14px;
  line-height: 60px;
  position: absolute; top:-100px; left:50%;
  transform: translateX(-50%);
}