@charset "utf-8";

/* 헤더 서식 */
header{
  width:100%; height: 70px;
  position: fixed;
  top: 0px; left: 0px;
  z-index: 1000;
  background: #fff;
  border-bottom: 1px solid #eee;
}
header>h1{
  padding: 24px 0px 0px 2%;
}
header i.fas{
  position: absolute;
  top: 24px;
  font-size: 1.6rem;
  color: #333;
  cursor: pointer;
}
header i.fa-user{right: 4%;}
header i.fa-bell{right: 2%;}

header nav{
  width: 600px;
  margin: -20px auto 0px auto;
}
header .gnb{
  display: flex;
  justify-content: space-around;
}
header .gnb > li > a{
  font-size: 1.2rem;
  color: var(--t-color01);
}



/* 푸터 서식 */

footer{
  width: 100%;
  background: #222;
  color: #aaa;
  display: flex;
  justify-content: center;
  line-height: 30px;
  padding: 50px 0px;
  font-size: 14px;
  text-align: left;
}
.h_logo{
  width: 200px;
}
.f_con{width: 1000px;}
.f_con ul{
  display: flex;
  width: 1000px;
  position: relative;
}
.f_con ul li{
  padding-right: 30px;
  margin-right: 30px;
}
.f_con ul li:nth-child(2) a{
  color: #fff !important;
}
.f_con ul li a{
color: #aaa;
font-size: 14px;
}
.f_con ul li::after{
  width: 1px; height: 15px;
  background: #555;
  display: inline-block;
  content: '';
  position: absolute; top: 8px;
  margin-left: 30px;
}
.f_con ul li:last-child::after{
  display: none;
}
.f_con dl{
  margin-top: 10px;
  margin-bottom: 10px;
}
.f_con dl dt{display: inline;}
.f_con dl dd{
  display: inline;
  padding-right: 20px;
  margin-right: 20px;
}
.f_con dl dd a{color: #555;}