@charset "utf-8";

/* 웹폰트 */ 
/* https://wess.tistory.com/523 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap");

@import url('https://webfontworld.github.io/score/SCoreDream.css');

/* 모든 페이지에 공통으로 적용되는 서식 */
:root{
  --size12: 12px;
  --size14: 14px;
  --size16: 16px;
  --black: #333;
  --white: #fff;
  --main1: #009132;
  --main2: #FFC20D;
  --bg1: #F9F9F9;
  --bg2: #D9D9D9;
  --m-auto: 0px auto;
  --m-base: 50px 0px;
}
body{
  background: #fff;
  font-family: 'SCoreDream', 'Noto Sans KR', sans-serif;
  font-size: 14px;
  color: #333;
  overflow-x: hidden;
}
a{
  color: #333;
  text-decoration: none;
  font-size: 12px;
}